<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
    <link rel="stylesheet" href="fontAwesome/css/all.css" />
    <title>JOBHUBSA</title>
    <link rel="stylesheet" href="style.css">
    <script src="js/script.js"></script>
</head>
<body>
      
        <!--<div class="circle"></div>-->
      <section>
        <header>
          <a href="index.html" class="logo" style="text-decoration: none;"><span>JOB<span style="color: rgb(18, 167, 167);">HUBSA</span></span></a>
              <label id="menu-bar"  onclick="openNav()"><i class="fas fa-bars"></i></label>
              <div id="mySidenav" class="sidenav">
                <a  class="closebtn" onclick="closeNav()"><span>&times;close<span></a> 
                <ul>
                    <li id="" class="active"><a href="index.html">Employers</a></li>
                    <li id="About.html" ><a href="About.html">Job Seekers</a></li>
                    <li><a href="contact-us.html">About</a></li>
                    <li><a  href="application.html">Blog</a></li>
                </ul>
                <span class="em_em">
                  <span class="job_skr"><a  href="">find a job</a></span>
                  <span class="employer"><a  href="application.html">employer</a></span>
                  <span class="login"><a href="login.html">Log in</a></span>
                </span>
              </div>
          </header>
        <div id="header-text" class="row" >
          
                    <!---------------------------------Jombotron---------------------------->  
                    <div id="textBox" class="col-lg-6 col-md-12">
                      <!---------------------------------text---------------------------->
                      <h1 class="lg_text">
                        Entry-level hiring made easy
                      </h1>
                      <p class="sm_text">
                        Find the best entry-level talent fast with<br> SAJOBHUB’s automated recruiting platform and integrated assessments
                      </p>
                      <button class="demo">
                        Request a demo
                      </button>
                    </div>
                    <div id="image_box" class="col-lg-6 col-md-12">
                      <!---------------------------------image---------------------------->
                      <div class="ima_container">
                        <img src="images/just_ima.png" alt="image" class="image">
                      </div>
                    </div>        
            </div>

            
      </section>
      
      <div class="jst_text">
        <h2 style="justify-content: center; text-align:center;">
          Save time and money on entry-level 
          recruitment with JOBJACK
        </h2> 
        <p>
          The JOBHUBSA tech platform automates the entry-level
           recruitment process, so hiring entry-level talent is 
           easy, quick and simple. Our unique entry-level 
           psychometric assessments, along with built-in credit
          and risk checks,
           help you find the right talent to grow your business.
        </p>
      </div>
            <!----------------Job seekerd and Employers cards------>
            <div class="row">
              <div id="Card_seeker" class="col-lg-6 col-md-12 ">
                <!-------First card_ for job seekers___-->
                <div class="container">
                  <span class="top_botton"><a href="">for job seekers</a></span>
                  <div class="img_1st_container">
                    <div class="image_container">
                      <img src="images/prsn_laptp.png" alt="image">
                    </div>
                </div>
                  <h4>Are you looking for an entry-level job?</h4>
                  <p>
                    Register and complete your profile on JOBHUBSA to
                     apply for entry-level jobs in your surrounding areas!
                      On the JOBHUBSA Platform you will also have access to free job resources to help you on your
                     application journey and make sure you are interview ready
                  </p>
                   <div class="the_btn"><button><a href="">Find a job</a></button></div>
                </div>
              </div>
              <div id="Card_seeker" class="col-lg-6 col-md-12 ">
                <!-------First card_ for job seekers___-->
                <div class="container">
                  <span class="top_botton"><a href="">For employers</a></span>
                  <div class="img_1st_container">
                    <div class="image_container">
                      <img src="images/prsn_sitting.png" alt="image">
                    </div>
                </div>
                  <h4>Do you want to improve your entry-level hiring process?</h4>
                  <p>
                    Save valuable time and resources - JOBHUBSA's tech platform
                     automates entry-level recruitment, streamlining the recruiting process
                     and ensuring better job fit candidates through built-in psychometric assessments.
                  </p>
                   <div class="the_btn"><button style="background-color: rgb(7, 7, 37);"><a href="">Find out more</a></button></div>
                </div>
              </div>
            </div>


  
  
   


    <div class="lets-talk"><a class="send-message" href="contact-us.html"><p><i id="message" class="fas fa-message"></i> </p></a></div>


  <!-- FOOOTER -->
  <footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-sm-4">
          <span>Hours:</span><br>
          Mon-fri: 10:00 - 13:00<br>
          On appointments<br>
          Only
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-4">
          <span>Address:</span><br>
          Gereformeerde Kerk <br>
          23 Ramothibe.<br>
          
          <p>* jobs.</p>
          <hr class="visible-xs">
        </section>
        <section id="testimonials" class="col-sm-4">
          <p style="font-weight: 600; font-size: large;"><i id="phone" class=""></i> CONTACTS</p>
          <p><i id="email" class="fas fa-envelope"></i> lawrencemokoko@gmail.com</p>
          <p><i id="email" class="fas fa-envelope"></i> lawrencewillie448@gmail.com</p>
          <p><i id="phone" class="fas fa-phone"></i> 079 336 5832</p>
          </section>
          
      </div>
      <div class="text-center">&copy;<a href="index.html" style="text-decoration: none; color: antiquewhite;" >SAJOBHUB 2024</a></div>
    </div>
  </footer>

  <script src="bootstrap/js/jquery.min.js" type="text/javascript"></script>
  <script src="popper/popper.min.js" type="text/javascript"></script>
  <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/bootstrap.bundle.js" ></script> 
  <script src="js/landingPageImageSlider.js"></script>
</body>
</html>