<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link to CSS Files in static/css -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <title>JOBHUBSA</title>
</head>
<body>
    <section>
        <header>
          <a href="{{ url_for('index') }}" class="logo" style="text-decoration: none;">
            <span>JOB<span style="color: rgb(18, 167, 167);">HUBSA</span></span>
          </a>
          <label id="menu-bar" onclick="openNav()"><i class="fas fa-bars"></i></label>
          <div id="mySidenav" class="sidenav">
            <a class="closebtn" onclick="closeNav()"><span>&times; Close</span></a>
            <ul>
                <li class="active"><a href="{{ url_for('index') }}">Employers</a></li>
                <li><a href="{{ url_for('about') }}">Job Seekers</a></li>
                <li><a href="{{ url_for('contact') }}">About</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
            </ul>
            <span class="em_em">
              <span class="job_skr"><a href="{{ url_for('find_job') }}">Find a job</a></span>
              <span class="employer"><a href="{{ url_for('employer') }}">Employer</a></span>
              <span class="login"><a href="{{ url_for('login') }}">Log in</a></span>
            </span>
          </div>
        </header>

        <div id="header-text" class="row">
            <div id="textBox" class="col-lg-6 col-md-12">
              <h1 class="lg_text">Entry-level hiring made easy</h1>
              <p class="sm_text">
                Find the best entry-level talent fast with<br> SAJOBHUB’s automated recruiting platform and integrated assessments.
              </p>
              <button class="demo">Request a demo</button>
            </div>
            <div id="image_box" class="col-lg-6 col-md-12">
              <div class="ima_container">
                <img src="{{ url_for('static', filename='images/just_ima.png') }}" alt="image" class="image">
              </div>
            </div>
        </div>
    </section>

    <div class="jst_text">
        <h2 style="justify-content: center; text-align:center;">
          Save time and money on entry-level recruitment with JOBJACK
        </h2>
        <p>
          The JOBHUBSA tech platform automates the entry-level recruitment process, making it easy, quick, and simple.
          Our unique entry-level psychometric assessments, along with built-in credit and risk checks, help you find the right talent to grow your business.
        </p>
    </div>

    <!-- Job Seekers and Employers Cards -->
    <div class="row">
        <div id="Card_seeker" class="col-lg-6 col-md-12">
            <div class="container">
              <span class="top_botton"><a href="">For Job Seekers</a></span>
              <div class="img_1st_container">
                <div class="image_container">
                  <img src="{{ url_for('static', filename='images/prsn_laptp.png') }}" alt="image">
                </div>
              </div>
              <h4>Are you looking for an entry-level job?</h4>
              <p>
                Register and complete your profile on JOBHUBSA to apply for entry-level jobs in your area!
                Access free job resources to help you prepare for interviews and more.
              </p>
              <div class="the_btn"><button><a href="">Find a job</a></button></div>
            </div>
        </div>
        <div id="Card_employer" class="col-lg-6 col-md-12">
            <div class="container">
              <span class="top_botton"><a href="">For Employers</a></span>
              <div class="img_1st_container">
                <div class="image_container">
                  <img src="{{ url_for('static', filename='images/prsn_sitting.png') }}" alt="image">
                </div>
              </div>
              <h4>Do you want to improve your entry-level hiring process?</h4>
              <p>
                Save time and resources - JOBHUBSA's platform automates entry-level recruitment, streamlining the process
                and ensuring better job fit through psychometric assessments.
              </p>
              <div class="the_btn"><button style="background-color: rgb(7, 7, 37);"><a href="">Find out more</a></button></div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->
    <div class="lets-talk"><a class="send-message" href="{{ url_for('contact') }}"><p><i id="message" class="fas fa-message"></i> </p></a></div>

    <!-- Footer -->
    <footer class="panel-footer">
        <div class="container">
          <div class="row">
            <section id="hours" class="col-sm-4">
              <span>Hours:</span><br>
              Mon-Fri: 10:00 - 13:00<br>
              By Appointment Only
              <hr class="visible-xs">
            </section>
            <section id="address" class="col-sm-4">
              <span>Address:</span><br>
              Gereformeerde Kerk<br>23 Ramothibe.
              <hr class="visible-xs">
            </section>
            <section id="testimonials" class="col-sm-4">
              <p style="font-weight: 600; font-size: large;">CONTACTS</p>
              <p><i class="fas fa-envelope"></i> lawrencemokoko@gmail.com</p>
              <p><i class="fas fa-envelope"></i> lawrencewillie448@gmail.com</p>
              <p><i class="fas fa-phone"></i> 079 336 5832</p>
            </section>
          </div>
          <div class="text-center">&copy;<a href="{{ url_for('index') }}" style="text-decoration: none; color: antiquewhite;">SAJOBHUB 2024</a></div>
        </div>
    </footer>

    <!-- Link to JavaScript Files in static/js -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/landingPageImageSlider.js') }}"></script>
</body>
</html>

